.footer-text {
    font-size: 8.5pt;
    color: #1F1F1F80;
    font-style: italic;
}

.footer-line {
    height: 1px;
    width: 75%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #1F1F1F80;
}

.footer-img {
    width: 100%;
    height: auto;
    max-width: 120px;
}

html,
body {
    height: 100%;
}

body>footer {
    position: sticky;
    top: 100vh;
    padding-bottom: 1em;
}